Gui4jDocumentation/src/org/gui4j/examples/expenses/view.dtd

<?xml version="1.0" encoding="iso-8859-1"?>

<!ENTITY % Component "(table|checkBoxMenuItem|comboBox|labelForm|hbox|tree|toolbar|popupMenuItem|button|gridBagLayout|scrollPane|edit|gridLayout|separator|vbox|menuItem|radioButton|menu|switch|toggleButton|keyMap|radioButtonMenuItem|list|password|menuBar|checkBox|tabbedPane|treePopupMenuItem|borderLayout|external|tableLayout|simpleInternalFrame|splitPane|matrix|cardLayout|label|calendarButton|cellTable|textArea|popupMenu|flowLayout|panel)">
<!ENTITY % Styles "(Style_table|Style_tableColumn|Style_tableColumnType|Style_tableType|Style_tableHeader|Style_checkBoxMenuItem|Style_comboBox|Style_labelForm|Style_markers|Style_labels|Style_components|Style_labelColumn|Style_hbox|Style_tree|Style_node|Style_toolbar|Style_popupMenuItem|Style_button|Style_gridBagLayout|Style_placeGbl|Style_scrollPane|Style_edit|Style_gridLayout|Style_placeGl|Style_separator|Style_vbox|Style_menuItem|Style_radioButton|Style_menu|Style_switch|Style_case|Style_toggleButton|Style_keyMap|Style_input|Style_action|Style_addKeyMap|Style_radioButtonMenuItem|Style_list|Style_password|Style_menuBar|Style_checkBox|Style_tabbedPane|Style_placeTp|Style_treePopupMenuItem|Style_borderLayout|Style_placeBl|Style_external|Style_tableLayout|Style_placeTl|Style_simpleInternalFrame|Style_splitPane|Style_matrix|Style_matrixCell|Style_matrixCol|Style_matrixRow|Style_cardLayout|Style_placeCl|Style_label|Style_calendarButton|Style_cellTable|Style_cell|Style_column|Style_row|Style_textArea|Style_popupMenu|Style_flowLayout|Style_panel)">
<!ELEMENT View (Param*,Include*,ClassAlias*,Style*,(%Component;|Def|StyleBegin|StyleEnd)*)>
<!ATTLIST View
  defaultButton CDATA #IMPLIED
  top CDATA #IMPLIED
>
<!ELEMENT Ref EMPTY>
<!ELEMENT Include (Arg*)>
<!ELEMENT Def EMPTY>
<!ELEMENT ClassAlias EMPTY>
<!ELEMENT StyleBegin EMPTY>
<!ELEMENT StyleEnd EMPTY>
<!ELEMENT Param EMPTY>
<!ELEMENT Arg EMPTY>
<!ATTLIST Ref id CDATA #REQUIRED>
<!ELEMENT Style ((%Styles;)*)>
<!ATTLIST Style
  name CDATA #REQUIRED
  extends CDATA #IMPLIED
>
<!ATTLIST StyleBegin
  name CDATA #REQUIRED
>
<!ATTLIST Def
  name CDATA #REQUIRED
  value CDATA #REQUIRED
>
<!ATTLIST Include
  alias CDATA #REQUIRED
  url CDATA #REQUIRED
  controller CDATA #IMPLIED
  refresh CDATA #IMPLIED
>
<!ATTLIST ClassAlias
  name CDATA #REQUIRED
  class CDATA #REQUIRED
>
<!ATTLIST Param
  id CDATA #REQUIRED
>
<!ATTLIST Arg
  param CDATA #REQUIRED
  id CDATA #REQUIRED
>
<!ELEMENT table (((tableColumn|tableHeader)+),(tableType*))>
<!ATTLIST table
  guiId CDATA #IMPLIED
  style CDATA #IMPLIED
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  content CDATA #REQUIRED
  contentType CDATA #REQUIRED
  rowSelectionMode (multiple|singleInterval|single) #IMPLIED
  colSelectionMode (multiple|singleInterval|single) #IMPLIED
  headerBackground CDATA #IMPLIED
  onCellSelect CDATA #IMPLIED
  onRowSelect CDATA #IMPLIED
  onColSelect CDATA #IMPLIED
  onDoubleClick CDATA #IMPLIED
  refresh CDATA #IMPLIED
  automaticRefresh (true|false) #IMPLIED
  onSetValue CDATA #IMPLIED
  visibleRows CDATA #IMPLIED
  automaticVisibleRows (true|false) #IMPLIED
  headerLines CDATA #IMPLIED
  reorderingAllowed (true|false) #IMPLIED
  rowSelectionAllowed (true|false) #IMPLIED
  editCellSelection CDATA #IMPLIED
  cellSelectionPair CDATA #IMPLIED
  rowSelectionIndex CDATA #IMPLIED
  rowSelectionItem CDATA #IMPLIED
  popupContext CDATA #IMPLIED
  actionCommand CDATA #IMPLIED
  hideFocus (true|false) #IMPLIED
  useOriginalList (true|false) #IMPLIED
  resizeMode (nextColumn|allColumns|lastColumn|subsequentColumns|off) #IMPLIED
  rowHeaders (true|false) #IMPLIED
  rowName CDATA #IMPLIED
  rowHeaderCharacters CDATA #IMPLIED
>
<!ELEMENT Style_table EMPTY>
<!ATTLIST Style_table
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  content CDATA #IMPLIED
  contentType CDATA #IMPLIED
  rowSelectionMode (multiple|singleInterval|single) #IMPLIED
  colSelectionMode (multiple|singleInterval|single) #IMPLIED
  headerBackground CDATA #IMPLIED
  onCellSelect CDATA #IMPLIED
  onRowSelect CDATA #IMPLIED
  onColSelect CDATA #IMPLIED
  onDoubleClick CDATA #IMPLIED
  refresh CDATA #IMPLIED
  automaticRefresh (true|false) #IMPLIED
  onSetValue CDATA #IMPLIED
  visibleRows CDATA #IMPLIED
  automaticVisibleRows (true|false) #IMPLIED
  headerLines CDATA #IMPLIED
  reorderingAllowed (true|false) #IMPLIED
  rowSelectionAllowed (true|false) #IMPLIED
  editCellSelection CDATA #IMPLIED
  cellSelectionPair CDATA #IMPLIED
  rowSelectionIndex CDATA #IMPLIED
  rowSelectionItem CDATA #IMPLIED
  popupContext CDATA #IMPLIED
  actionCommand CDATA #IMPLIED
  hideFocus (true|false) #IMPLIED
  useOriginalList (true|false) #IMPLIED
  resizeMode (nextColumn|allColumns|lastColumn|subsequentColumns|off) #IMPLIED
  rowHeaders (true|false) #IMPLIED
  rowName CDATA #IMPLIED
  rowHeaderCharacters CDATA #IMPLIED
>
<!ELEMENT tableColumn EMPTY>
<!ATTLIST tableColumn
  style CDATA #IMPLIED
  name CDATA #REQUIRED
  tooltip CDATA #IMPLIED
  value CDATA #REQUIRED
  setValue CDATA #IMPLIED
  weight CDATA #IMPLIED
  list CDATA #IMPLIED
  listType CDATA #IMPLIED
  listItem CDATA #IMPLIED
  listNullItem CDATA #IMPLIED
  listEditable CDATA #IMPLIED
  listIndicator CDATA #IMPLIED
  stringConvert CDATA #IMPLIED
  enabled CDATA #IMPLIED
  characters CDATA #IMPLIED
  maxCharacters CDATA #IMPLIED
  foreground CDATA #IMPLIED
  background CDATA #IMPLIED
  evenBackground CDATA #IMPLIED
  alignment (left|center|right) #IMPLIED
  font CDATA #IMPLIED
>
<!ELEMENT Style_tableColumn EMPTY>
<!ATTLIST Style_tableColumn
  name CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  value CDATA #IMPLIED
  setValue CDATA #IMPLIED
  weight CDATA #IMPLIED
  list CDATA #IMPLIED
  listType CDATA #IMPLIED
  listItem CDATA #IMPLIED
  listNullItem CDATA #IMPLIED
  listEditable CDATA #IMPLIED
  listIndicator CDATA #IMPLIED
  stringConvert CDATA #IMPLIED
  enabled CDATA #IMPLIED
  characters CDATA #IMPLIED
  maxCharacters CDATA #IMPLIED
  foreground CDATA #IMPLIED
  background CDATA #IMPLIED
  evenBackground CDATA #IMPLIED
  alignment (left|center|right) #IMPLIED
  font CDATA #IMPLIED
>
<!ELEMENT tableColumnType EMPTY>
<!ATTLIST tableColumnType
  style CDATA #IMPLIED
  value CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  setValue CDATA #IMPLIED
  list CDATA #IMPLIED
  listType CDATA #IMPLIED
  listItem CDATA #IMPLIED
  listNullItem CDATA #IMPLIED
  listEditable CDATA #IMPLIED
  stringConvert CDATA #IMPLIED
  enabled CDATA #IMPLIED
  foreground CDATA #IMPLIED
  background CDATA #IMPLIED
  evenBackground CDATA #IMPLIED
  alignment (center|left|right) #IMPLIED
  font CDATA #IMPLIED
>
<!ELEMENT Style_tableColumnType EMPTY>
<!ATTLIST Style_tableColumnType
  value CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  setValue CDATA #IMPLIED
  list CDATA #IMPLIED
  listType CDATA #IMPLIED
  listItem CDATA #IMPLIED
  listNullItem CDATA #IMPLIED
  listEditable CDATA #IMPLIED
  stringConvert CDATA #IMPLIED
  enabled CDATA #IMPLIED
  foreground CDATA #IMPLIED
  background CDATA #IMPLIED
  evenBackground CDATA #IMPLIED
  alignment (center|left|right) #IMPLIED
  font CDATA #IMPLIED
>
<!ELEMENT tableType (tableColumnType*)>
<!ATTLIST tableType
  style CDATA #IMPLIED
  contentType CDATA #REQUIRED
  onCellSelect CDATA #IMPLIED
  onRowSelect CDATA #IMPLIED
  onColSelect CDATA #IMPLIED
  onDoubleClick CDATA #IMPLIED
  popupContext CDATA #IMPLIED
  rowName CDATA #IMPLIED
>
<!ELEMENT Style_tableType EMPTY>
<!ATTLIST Style_tableType
  contentType CDATA #IMPLIED
  onCellSelect CDATA #IMPLIED
  onRowSelect CDATA #IMPLIED
  onColSelect CDATA #IMPLIED
  onDoubleClick CDATA #IMPLIED
  popupContext CDATA #IMPLIED
  rowName CDATA #IMPLIED
>
<!ELEMENT tableHeader ((tableColumn|tableHeader)+)>
<!ATTLIST tableHeader
  style CDATA #IMPLIED
  name CDATA #REQUIRED
  foreground CDATA #IMPLIED
  background CDATA #IMPLIED
  alignment (left|center|right) #IMPLIED
  font CDATA #IMPLIED
>
<!ELEMENT Style_tableHeader EMPTY>
<!ATTLIST Style_tableHeader
  name CDATA #IMPLIED
  foreground CDATA #IMPLIED
  background CDATA #IMPLIED
  alignment (left|center|right) #IMPLIED
  font CDATA #IMPLIED
>
<!ELEMENT checkBoxMenuItem EMPTY>
<!ATTLIST checkBoxMenuItem
  guiId CDATA #IMPLIED
  style CDATA #IMPLIED
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  text CDATA #IMPLIED
  actionCommand CDATA #IMPLIED
  group CDATA #IMPLIED
  mnemonic CDATA #IMPLIED
  vTextPosition (top|bottom|center) #IMPLIED
  hTextPosition (right|left|leading|center|trailing) #IMPLIED
  icon CDATA #IMPLIED
  iconTextGap CDATA #IMPLIED
  selected CDATA #IMPLIED
  accelerator CDATA #IMPLIED
>
<!ELEMENT Style_checkBoxMenuItem EMPTY>
<!ATTLIST Style_checkBoxMenuItem
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  text CDATA #IMPLIED
  actionCommand CDATA #IMPLIED
  group CDATA #IMPLIED
  mnemonic CDATA #IMPLIED
  vTextPosition (top|bottom|center) #IMPLIED
  hTextPosition (right|left|leading|center|trailing) #IMPLIED
  icon CDATA #IMPLIED
  iconTextGap CDATA #IMPLIED
  selected CDATA #IMPLIED
  accelerator CDATA #IMPLIED
>
<!ELEMENT comboBox EMPTY>
<!ATTLIST comboBox
  guiId CDATA #IMPLIED
  style CDATA #IMPLIED
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  arrayContent CDATA #IMPLIED
  content CDATA #IMPLIED
  selectedItem CDATA #IMPLIED
  editable CDATA #IMPLIED
  contentType CDATA #IMPLIED
  value CDATA #IMPLIED
  onSelect CDATA #IMPLIED
  stringConvert CDATA #IMPLIED
  nullItem CDATA #IMPLIED
>
<!ELEMENT Style_comboBox EMPTY>
<!ATTLIST Style_comboBox
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  arrayContent CDATA #IMPLIED
  content CDATA #IMPLIED
  selectedItem CDATA #IMPLIED
  editable CDATA #IMPLIED
  contentType CDATA #IMPLIED
  value CDATA #IMPLIED
  onSelect CDATA #IMPLIED
  stringConvert CDATA #IMPLIED
  nullItem CDATA #IMPLIED
>
<!ELEMENT labelForm ((labelColumn+)|((markers?),(labels,components)))>
<!ATTLIST labelForm
  guiId CDATA #IMPLIED
  style CDATA #IMPLIED
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  hSpacing CDATA #IMPLIED
  vSpacing CDATA #IMPLIED
  colSpacing CDATA #IMPLIED
  columns CDATA #IMPLIED
  componentWidths CDATA #IMPLIED
>
<!ELEMENT Style_labelForm EMPTY>
<!ATTLIST Style_labelForm
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  hSpacing CDATA #IMPLIED
  vSpacing CDATA #IMPLIED
  colSpacing CDATA #IMPLIED
  columns CDATA #IMPLIED
  componentWidths CDATA #IMPLIED
>
<!ELEMENT markers ((%Component;|Ref)*)>
<!ATTLIST markers
  style CDATA #IMPLIED
>
<!ELEMENT Style_markers EMPTY>
<!ELEMENT labels ((%Component;|Ref)*)>
<!ATTLIST labels
  style CDATA #IMPLIED
>
<!ELEMENT Style_labels EMPTY>
<!ELEMENT components ((%Component;|Ref)*)>
<!ATTLIST components
  style CDATA #IMPLIED
>
<!ELEMENT Style_components EMPTY>
<!ELEMENT labelColumn ((markers?),(labels,components))>
<!ATTLIST labelColumn
  style CDATA #IMPLIED
  componentWidth CDATA #IMPLIED
  colSpans CDATA #IMPLIED
>
<!ELEMENT Style_labelColumn EMPTY>
<!ATTLIST Style_labelColumn
  componentWidth CDATA #IMPLIED
  colSpans CDATA #IMPLIED
>
<!ELEMENT hbox ((%Component;|Ref)*)>
<!ATTLIST hbox
  guiId CDATA #IMPLIED
  style CDATA #IMPLIED
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
>
<!ELEMENT Style_hbox EMPTY>
<!ATTLIST Style_hbox
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
>
<!ELEMENT tree (node*)>
<!ATTLIST tree
  guiId CDATA #IMPLIED
  style CDATA #IMPLIED
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  root CDATA #REQUIRED
  selectedNode CDATA #IMPLIED
  selectedPath CDATA #IMPLIED
  refresh CDATA #IMPLIED
  reload CDATA #IMPLIED
  lazy (true|false) #IMPLIED
  lazyMessage CDATA #IMPLIED
  hideRootNode (true|false) #IMPLIED
  useOriginalCollection (true|false) #IMPLIED
  initiallyExpand (true|false) #IMPLIED
  onSelect CDATA #IMPLIED
>
<!ELEMENT Style_tree EMPTY>
<!ATTLIST Style_tree
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  root CDATA #IMPLIED
  selectedNode CDATA #IMPLIED
  selectedPath CDATA #IMPLIED
  refresh CDATA #IMPLIED
  reload CDATA #IMPLIED
  lazy (true|false) #IMPLIED
  lazyMessage CDATA #IMPLIED
  hideRootNode (true|false) #IMPLIED
  useOriginalCollection (true|false) #IMPLIED
  initiallyExpand (true|false) #IMPLIED
  onSelect CDATA #IMPLIED
>
<!ELEMENT node EMPTY>
<!ATTLIST node
  style CDATA #IMPLIED
  contentType CDATA #REQUIRED
  value CDATA #REQUIRED
  children CDATA #IMPLIED
  isLeaf CDATA #IMPLIED
  icon CDATA #IMPLIED
  iconPosition (leading|trailing) #IMPLIED
  lazy (true|false) #IMPLIED
  onSelect CDATA #IMPLIED
  onDblClick CDATA #IMPLIED
>
<!ELEMENT Style_node EMPTY>
<!ATTLIST Style_node
  contentType CDATA #IMPLIED
  value CDATA #IMPLIED
  children CDATA #IMPLIED
  isLeaf CDATA #IMPLIED
  icon CDATA #IMPLIED
  iconPosition (leading|trailing) #IMPLIED
  lazy (true|false) #IMPLIED
  onSelect CDATA #IMPLIED
  onDblClick CDATA #IMPLIED
>
<!ELEMENT toolbar ((%Component;|Ref)*)>
<!ATTLIST toolbar
  guiId CDATA #IMPLIED
  style CDATA #IMPLIED
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  orientation (vertical|horizontal) #IMPLIED
  hAlignment (left|center|right) #IMPLIED
  vAlignment (top|bottom|center) #IMPLIED
>
<!ELEMENT Style_toolbar EMPTY>
<!ATTLIST Style_toolbar
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  orientation (vertical|horizontal) #IMPLIED
  hAlignment (left|center|right) #IMPLIED
  vAlignment (top|bottom|center) #IMPLIED
>
<!ELEMENT popupMenuItem EMPTY>
<!ATTLIST popupMenuItem
  guiId CDATA #IMPLIED
  style CDATA #IMPLIED
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  text CDATA #IMPLIED
  actionCommand CDATA #IMPLIED
  group CDATA #IMPLIED
  mnemonic CDATA #IMPLIED
  vTextPosition (top|bottom|center) #IMPLIED
  hTextPosition (right|left|leading|center|trailing) #IMPLIED
  icon CDATA #IMPLIED
  iconTextGap CDATA #IMPLIED
  selected CDATA #IMPLIED
  accelerator CDATA #IMPLIED
  contextType CDATA #IMPLIED
>
<!ELEMENT Style_popupMenuItem EMPTY>
<!ATTLIST Style_popupMenuItem
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  text CDATA #IMPLIED
  actionCommand CDATA #IMPLIED
  group CDATA #IMPLIED
  mnemonic CDATA #IMPLIED
  vTextPosition (top|bottom|center) #IMPLIED
  hTextPosition (right|left|leading|center|trailing) #IMPLIED
  icon CDATA #IMPLIED
  iconTextGap CDATA #IMPLIED
  selected CDATA #IMPLIED
  accelerator CDATA #IMPLIED
  contextType CDATA #IMPLIED
>
<!ELEMENT button EMPTY>
<!ATTLIST button
  guiId CDATA #IMPLIED
  style CDATA #IMPLIED
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  text CDATA #IMPLIED
  actionCommand CDATA #IMPLIED
  group CDATA #IMPLIED
  mnemonic CDATA #IMPLIED
  vTextPosition (top|bottom|center) #IMPLIED
  hTextPosition (right|left|leading|center|trailing) #IMPLIED
  icon CDATA #IMPLIED
  iconTextGap CDATA #IMPLIED
  selected CDATA #IMPLIED
>
<!ELEMENT Style_button EMPTY>
<!ATTLIST Style_button
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  text CDATA #IMPLIED
  actionCommand CDATA #IMPLIED
  group CDATA #IMPLIED
  mnemonic CDATA #IMPLIED
  vTextPosition (top|bottom|center) #IMPLIED
  hTextPosition (right|left|leading|center|trailing) #IMPLIED
  icon CDATA #IMPLIED
  iconTextGap CDATA #IMPLIED
  selected CDATA #IMPLIED
>
<!ELEMENT gridBagLayout (placeGbl*)>
<!ATTLIST gridBagLayout
  guiId CDATA #IMPLIED
  style CDATA #IMPLIED
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
>
<!ELEMENT Style_gridBagLayout EMPTY>
<!ATTLIST Style_gridBagLayout
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
>
<!ELEMENT placeGbl ((%Component;|Ref)?)>
<!ATTLIST placeGbl
  style CDATA #IMPLIED
  row CDATA #REQUIRED
  col CDATA #REQUIRED
  width CDATA #IMPLIED
  height CDATA #IMPLIED
  weightX CDATA #IMPLIED
  weightY CDATA #IMPLIED
  ipadX CDATA #IMPLIED
  ipadY CDATA #IMPLIED
  top CDATA #IMPLIED
  left CDATA #IMPLIED
  bottom CDATA #IMPLIED
  right CDATA #IMPLIED
  fill (none|horizontal|both|vertical) #IMPLIED
  anchor CDATA #IMPLIED
  id CDATA #IMPLIED
>
<!ELEMENT Style_placeGbl EMPTY>
<!ATTLIST Style_placeGbl
  row CDATA #IMPLIED
  col CDATA #IMPLIED
  width CDATA #IMPLIED
  height CDATA #IMPLIED
  weightX CDATA #IMPLIED
  weightY CDATA #IMPLIED
  ipadX CDATA #IMPLIED
  ipadY CDATA #IMPLIED
  top CDATA #IMPLIED
  left CDATA #IMPLIED
  bottom CDATA #IMPLIED
  right CDATA #IMPLIED
  fill (none|horizontal|both|vertical) #IMPLIED
  anchor (northWest|west|east|southEast|south|center|southWest|northEast|north) #IMPLIED
  id CDATA #IMPLIED
>
<!ELEMENT scrollPane ((%Component;|Ref)?)>
<!ATTLIST scrollPane
  guiId CDATA #IMPLIED
  style CDATA #IMPLIED
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  id CDATA #IMPLIED
  hScrollPolicy (never|always|auto) #IMPLIED
  vScrollPolicy (never|always|auto) #IMPLIED
  viewportBorder CDATA #IMPLIED
>
<!ELEMENT Style_scrollPane EMPTY>
<!ATTLIST Style_scrollPane
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  id CDATA #IMPLIED
  hScrollPolicy (never|always|auto) #IMPLIED
  vScrollPolicy (never|always|auto) #IMPLIED
  viewportBorder CDATA #IMPLIED
>
<!ELEMENT edit EMPTY>
<!ATTLIST edit
  guiId CDATA #IMPLIED
  style CDATA #IMPLIED
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  value CDATA #IMPLIED
  width CDATA #IMPLIED
  maxLength CDATA #IMPLIED
  actionCommand CDATA #IMPLIED
  setValue CDATA #IMPLIED
  editable CDATA #IMPLIED
  alignment (right|left|leading|center|trailing) #IMPLIED
>
<!ELEMENT Style_edit EMPTY>
<!ATTLIST Style_edit
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  value CDATA #IMPLIED
  width CDATA #IMPLIED
  maxLength CDATA #IMPLIED
  actionCommand CDATA #IMPLIED
  setValue CDATA #IMPLIED
  editable CDATA #IMPLIED
  alignment (right|left|leading|center|trailing) #IMPLIED
>
<!ELEMENT gridLayout (placeGl*)>
<!ATTLIST gridLayout
  guiId CDATA #IMPLIED
  style CDATA #IMPLIED
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  rows CDATA #REQUIRED
  cols CDATA #REQUIRED
  hSpacing CDATA #IMPLIED
  vSpacing CDATA #IMPLIED
>
<!ELEMENT Style_gridLayout EMPTY>
<!ATTLIST Style_gridLayout
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  rows CDATA #IMPLIED
  cols CDATA #IMPLIED
  hSpacing CDATA #IMPLIED
  vSpacing CDATA #IMPLIED
>
<!ELEMENT placeGl ((%Component;|Ref)?)>
<!ATTLIST placeGl
  style CDATA #IMPLIED
  row CDATA #REQUIRED
  col CDATA #REQUIRED
  id CDATA #IMPLIED
>
<!ELEMENT Style_placeGl EMPTY>
<!ATTLIST Style_placeGl
  row CDATA #IMPLIED
  col CDATA #IMPLIED
  id CDATA #IMPLIED
>
<!ELEMENT separator EMPTY>
<!ATTLIST separator
  guiId CDATA #IMPLIED
  style CDATA #IMPLIED
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
>
<!ELEMENT Style_separator EMPTY>
<!ATTLIST Style_separator
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
>
<!ELEMENT vbox ((%Component;|Ref)*)>
<!ATTLIST vbox
  guiId CDATA #IMPLIED
  style CDATA #IMPLIED
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
>
<!ELEMENT Style_vbox EMPTY>
<!ATTLIST Style_vbox
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
>
<!ELEMENT menuItem EMPTY>
<!ATTLIST menuItem
  guiId CDATA #IMPLIED
  style CDATA #IMPLIED
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  text CDATA #IMPLIED
  actionCommand CDATA #IMPLIED
  group CDATA #IMPLIED
  mnemonic CDATA #IMPLIED
  vTextPosition (top|bottom|center) #IMPLIED
  hTextPosition (right|left|leading|center|trailing) #IMPLIED
  icon CDATA #IMPLIED
  iconTextGap CDATA #IMPLIED
  selected CDATA #IMPLIED
  accelerator CDATA #IMPLIED
>
<!ELEMENT Style_menuItem EMPTY>
<!ATTLIST Style_menuItem
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  text CDATA #IMPLIED
  actionCommand CDATA #IMPLIED
  group CDATA #IMPLIED
  mnemonic CDATA #IMPLIED
  vTextPosition (top|bottom|center) #IMPLIED
  hTextPosition (right|left|leading|center|trailing) #IMPLIED
  icon CDATA #IMPLIED
  iconTextGap CDATA #IMPLIED
  selected CDATA #IMPLIED
  accelerator CDATA #IMPLIED
>
<!ELEMENT radioButton EMPTY>
<!ATTLIST radioButton
  guiId CDATA #IMPLIED
  style CDATA #IMPLIED
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  text CDATA #IMPLIED
  actionCommand CDATA #IMPLIED
  group CDATA #IMPLIED
  mnemonic CDATA #IMPLIED
  vTextPosition (top|bottom|center) #IMPLIED
  hTextPosition (right|left|leading|center|trailing) #IMPLIED
  icon CDATA #IMPLIED
  iconTextGap CDATA #IMPLIED
  selected CDATA #IMPLIED
>
<!ELEMENT Style_radioButton EMPTY>
<!ATTLIST Style_radioButton
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  text CDATA #IMPLIED
  actionCommand CDATA #IMPLIED
  group CDATA #IMPLIED
  mnemonic CDATA #IMPLIED
  vTextPosition (top|bottom|center) #IMPLIED
  hTextPosition (right|left|leading|center|trailing) #IMPLIED
  icon CDATA #IMPLIED
  iconTextGap CDATA #IMPLIED
  selected CDATA #IMPLIED
>
<!ELEMENT menu ((Ref|menu|menuItem|radioButtonMenuItem|checkBoxMenuItem|separator)*)>
<!ATTLIST menu
  guiId CDATA #IMPLIED
  style CDATA #IMPLIED
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  text CDATA #IMPLIED
  actionCommand CDATA #IMPLIED
  group CDATA #IMPLIED
  mnemonic CDATA #IMPLIED
  vTextPosition (top|bottom|center) #IMPLIED
  hTextPosition (right|left|leading|center|trailing) #IMPLIED
  icon CDATA #IMPLIED
  iconTextGap CDATA #IMPLIED
  selected CDATA #IMPLIED
  accelerator CDATA #IMPLIED
  windowList (true|false) #IMPLIED
>
<!ELEMENT Style_menu EMPTY>
<!ATTLIST Style_menu
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  text CDATA #IMPLIED
  actionCommand CDATA #IMPLIED
  group CDATA #IMPLIED
  mnemonic CDATA #IMPLIED
  vTextPosition (top|bottom|center) #IMPLIED
  hTextPosition (right|left|leading|center|trailing) #IMPLIED
  icon CDATA #IMPLIED
  iconTextGap CDATA #IMPLIED
  selected CDATA #IMPLIED
  accelerator CDATA #IMPLIED
  windowList (true|false) #IMPLIED
>
<!ELEMENT switch (case*)>
<!ATTLIST switch
  guiId CDATA #IMPLIED
  style CDATA #IMPLIED
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  refresh CDATA #IMPLIED
  default CDATA #REQUIRED
>
<!ELEMENT Style_switch EMPTY>
<!ATTLIST Style_switch
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  refresh CDATA #IMPLIED
  default CDATA #IMPLIED
>
<!ELEMENT case ((%Component;|Ref)?)>
<!ATTLIST case
  style CDATA #IMPLIED
  id CDATA #REQUIRED
  condition CDATA #REQUIRED
>
<!ELEMENT Style_case EMPTY>
<!ATTLIST Style_case
  id CDATA #IMPLIED
  condition CDATA #IMPLIED
>
<!ELEMENT toggleButton EMPTY>
<!ATTLIST toggleButton
  guiId CDATA #IMPLIED
  style CDATA #IMPLIED
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  text CDATA #IMPLIED
  actionCommand CDATA #IMPLIED
  group CDATA #IMPLIED
  mnemonic CDATA #IMPLIED
  vTextPosition (top|bottom|center) #IMPLIED
  hTextPosition (right|left|leading|center|trailing) #IMPLIED
  icon CDATA #IMPLIED
  iconTextGap CDATA #IMPLIED
  selected CDATA #IMPLIED
>
<!ELEMENT Style_toggleButton EMPTY>
<!ATTLIST Style_toggleButton
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  text CDATA #IMPLIED
  actionCommand CDATA #IMPLIED
  group CDATA #IMPLIED
  mnemonic CDATA #IMPLIED
  vTextPosition (top|bottom|center) #IMPLIED
  hTextPosition (right|left|leading|center|trailing) #IMPLIED
  icon CDATA #IMPLIED
  iconTextGap CDATA #IMPLIED
  selected CDATA #IMPLIED
>
<!ELEMENT keyMap ((input|action|addKeyMap)*)>
<!ATTLIST keyMap
  guiId CDATA #IMPLIED
  style CDATA #IMPLIED
>
<!ELEMENT Style_keyMap EMPTY>
<!ELEMENT input EMPTY>
<!ATTLIST input
  style CDATA #IMPLIED
  focusCondition (focused|ancestor|window) #REQUIRED
  stroke CDATA #REQUIRED
  actionCommand CDATA #IMPLIED
  action CDATA #IMPLIED
>
<!ELEMENT Style_input EMPTY>
<!ATTLIST Style_input
  focusCondition (focused|ancestor|window) #IMPLIED
  stroke CDATA #IMPLIED
  actionCommand CDATA #IMPLIED
  action CDATA #IMPLIED
>
<!ELEMENT action EMPTY>
<!ATTLIST action
  style CDATA #IMPLIED
  name CDATA #REQUIRED
  actionCommand CDATA #REQUIRED
>
<!ELEMENT Style_action EMPTY>
<!ATTLIST Style_action
  name CDATA #IMPLIED
  actionCommand CDATA #IMPLIED
>
<!ELEMENT addKeyMap EMPTY>
<!ATTLIST addKeyMap
  style CDATA #IMPLIED
  id CDATA #REQUIRED
>
<!ELEMENT Style_addKeyMap EMPTY>
<!ATTLIST Style_addKeyMap
  id CDATA #IMPLIED
>
<!ELEMENT radioButtonMenuItem EMPTY>
<!ATTLIST radioButtonMenuItem
  guiId CDATA #IMPLIED
  style CDATA #IMPLIED
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  text CDATA #IMPLIED
  actionCommand CDATA #IMPLIED
  group CDATA #IMPLIED
  mnemonic CDATA #IMPLIED
  vTextPosition (top|bottom|center) #IMPLIED
  hTextPosition (right|left|leading|center|trailing) #IMPLIED
  icon CDATA #IMPLIED
  iconTextGap CDATA #IMPLIED
  selected CDATA #IMPLIED
  accelerator CDATA #IMPLIED
>
<!ELEMENT Style_radioButtonMenuItem EMPTY>
<!ATTLIST Style_radioButtonMenuItem
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  text CDATA #IMPLIED
  actionCommand CDATA #IMPLIED
  group CDATA #IMPLIED
  mnemonic CDATA #IMPLIED
  vTextPosition (top|bottom|center) #IMPLIED
  hTextPosition (right|left|leading|center|trailing) #IMPLIED
  icon CDATA #IMPLIED
  iconTextGap CDATA #IMPLIED
  selected CDATA #IMPLIED
  accelerator CDATA #IMPLIED
>
<!ELEMENT list EMPTY>
<!ATTLIST list
  guiId CDATA #IMPLIED
  style CDATA #IMPLIED
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  arrayContent CDATA #IMPLIED
  content CDATA #IMPLIED
  selectionMode (multiple|singleInterval|single) #IMPLIED
  selectedIndices CDATA #IMPLIED
  selectedItems CDATA #IMPLIED
  selectedItem CDATA #IMPLIED
  contentType CDATA #IMPLIED
  value CDATA #IMPLIED
  onSelect CDATA #IMPLIED
  onDoubleClick CDATA #IMPLIED
  visibleRowCount CDATA #IMPLIED
>
<!ELEMENT Style_list EMPTY>
<!ATTLIST Style_list
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  arrayContent CDATA #IMPLIED
  content CDATA #IMPLIED
  selectionMode (multiple|singleInterval|single) #IMPLIED
  selectedIndices CDATA #IMPLIED
  selectedItems CDATA #IMPLIED
  selectedItem CDATA #IMPLIED
  contentType CDATA #IMPLIED
  value CDATA #IMPLIED
  onSelect CDATA #IMPLIED
  onDoubleClick CDATA #IMPLIED
  visibleRowCount CDATA #IMPLIED
>
<!ELEMENT password EMPTY>
<!ATTLIST password
  guiId CDATA #IMPLIED
  style CDATA #IMPLIED
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  value CDATA #IMPLIED
  width CDATA #IMPLIED
  maxLength CDATA #IMPLIED
  actionCommand CDATA #IMPLIED
  setValue CDATA #IMPLIED
  editable CDATA #IMPLIED
  alignment (right|left|leading|center|trailing) #IMPLIED
>
<!ELEMENT Style_password EMPTY>
<!ATTLIST Style_password
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  value CDATA #IMPLIED
  width CDATA #IMPLIED
  maxLength CDATA #IMPLIED
  actionCommand CDATA #IMPLIED
  setValue CDATA #IMPLIED
  editable CDATA #IMPLIED
  alignment (right|left|leading|center|trailing) #IMPLIED
>
<!ELEMENT menuBar ((Ref|menu)*)>
<!ATTLIST menuBar
  guiId CDATA #IMPLIED
  style CDATA #IMPLIED
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
>
<!ELEMENT Style_menuBar EMPTY>
<!ATTLIST Style_menuBar
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
>
<!ELEMENT checkBox EMPTY>
<!ATTLIST checkBox
  guiId CDATA #IMPLIED
  style CDATA #IMPLIED
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  text CDATA #IMPLIED
  actionCommand CDATA #IMPLIED
  group CDATA #IMPLIED
  mnemonic CDATA #IMPLIED
  vTextPosition (top|bottom|center) #IMPLIED
  hTextPosition (right|left|leading|center|trailing) #IMPLIED
  icon CDATA #IMPLIED
  iconTextGap CDATA #IMPLIED
  selected CDATA #IMPLIED
  onSelect CDATA #IMPLIED
>
<!ELEMENT Style_checkBox EMPTY>
<!ATTLIST Style_checkBox
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  text CDATA #IMPLIED
  actionCommand CDATA #IMPLIED
  group CDATA #IMPLIED
  mnemonic CDATA #IMPLIED
  vTextPosition (top|bottom|center) #IMPLIED
  hTextPosition (right|left|leading|center|trailing) #IMPLIED
  icon CDATA #IMPLIED
  iconTextGap CDATA #IMPLIED
  selected CDATA #IMPLIED
  onSelect CDATA #IMPLIED
>
<!ELEMENT tabbedPane (placeTp*)>
<!ATTLIST tabbedPane
  guiId CDATA #IMPLIED
  style CDATA #IMPLIED
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  tabPolicy (scroll|wrap) #IMPLIED
  tabPlacement (bottom|left|top|right) #IMPLIED
  onChange CDATA #IMPLIED
  tabSelection CDATA #IMPLIED
  embedded (true|false) #IMPLIED
>
<!ELEMENT Style_tabbedPane EMPTY>
<!ATTLIST Style_tabbedPane
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  tabPolicy (scroll|wrap) #IMPLIED
  tabPlacement (bottom|left|top|right) #IMPLIED
  onChange CDATA #IMPLIED
  tabSelection CDATA #IMPLIED
  embedded (true|false) #IMPLIED
>
<!ELEMENT placeTp ((%Component;|Ref)?)>
<!ATTLIST placeTp
  style CDATA #IMPLIED
  title CDATA #REQUIRED
  id CDATA #IMPLIED
  foreground CDATA #IMPLIED
  background CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  condition CDATA #IMPLIED
  onSelect CDATA #IMPLIED
>
<!ELEMENT Style_placeTp EMPTY>
<!ATTLIST Style_placeTp
  title CDATA #IMPLIED
  id CDATA #IMPLIED
  foreground CDATA #IMPLIED
  background CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  condition CDATA #IMPLIED
  onSelect CDATA #IMPLIED
>
<!ELEMENT treePopupMenuItem EMPTY>
<!ATTLIST treePopupMenuItem
  guiId CDATA #IMPLIED
  style CDATA #IMPLIED
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  text CDATA #IMPLIED
  group CDATA #IMPLIED
  mnemonic CDATA #IMPLIED
  vTextPosition (top|bottom|center) #IMPLIED
  hTextPosition (right|left|leading|center|trailing) #IMPLIED
  icon CDATA #IMPLIED
  iconTextGap CDATA #IMPLIED
  selected CDATA #IMPLIED
  accelerator CDATA #IMPLIED
  contextType CDATA #IMPLIED
  command (expand|collapse|collapseall|expandall|resetroot|setroot) #REQUIRED
>
<!ELEMENT Style_treePopupMenuItem EMPTY>
<!ATTLIST Style_treePopupMenuItem
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  text CDATA #IMPLIED
  group CDATA #IMPLIED
  mnemonic CDATA #IMPLIED
  vTextPosition (top|bottom|center) #IMPLIED
  hTextPosition (right|left|leading|center|trailing) #IMPLIED
  icon CDATA #IMPLIED
  iconTextGap CDATA #IMPLIED
  selected CDATA #IMPLIED
  accelerator CDATA #IMPLIED
  contextType CDATA #IMPLIED
  command (expand|collapse|collapseall|expandall|resetroot|setroot) #IMPLIED
>
<!ELEMENT borderLayout (placeBl*)>
<!ATTLIST borderLayout
  guiId CDATA #IMPLIED
  style CDATA #IMPLIED
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  hSpacing CDATA #IMPLIED
  vSpacing CDATA #IMPLIED
>
<!ELEMENT Style_borderLayout EMPTY>
<!ATTLIST Style_borderLayout
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  hSpacing CDATA #IMPLIED
  vSpacing CDATA #IMPLIED
>
<!ELEMENT placeBl ((%Component;|Ref)?)>
<!ATTLIST placeBl
  style CDATA #IMPLIED
  anchor (east|west|center|south|north) #REQUIRED
  id CDATA #IMPLIED
>
<!ELEMENT Style_placeBl EMPTY>
<!ATTLIST Style_placeBl
  anchor (east|west|center|south|north) #IMPLIED
  id CDATA #IMPLIED
>
<!ELEMENT external EMPTY>
<!ATTLIST external
  guiId CDATA #IMPLIED
  style CDATA #IMPLIED
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  component CDATA #REQUIRED
  componentType CDATA #IMPLIED
>
<!ELEMENT Style_external EMPTY>
<!ATTLIST Style_external
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  component CDATA #IMPLIED
  componentType CDATA #IMPLIED
>
<!ELEMENT tableLayout (placeTl*)>
<!ATTLIST tableLayout
  guiId CDATA #IMPLIED
  style CDATA #IMPLIED
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  rows CDATA #REQUIRED
  cols CDATA #REQUIRED
  hSpacing CDATA #IMPLIED
  vSpacing CDATA #IMPLIED
>
<!ELEMENT Style_tableLayout EMPTY>
<!ATTLIST Style_tableLayout
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  rows CDATA #IMPLIED
  cols CDATA #IMPLIED
  hSpacing CDATA #IMPLIED
  vSpacing CDATA #IMPLIED
>
<!ELEMENT placeTl ((%Component;|Ref)?)>
<!ATTLIST placeTl
  style CDATA #IMPLIED
  row CDATA #REQUIRED
  col CDATA #REQUIRED
  width CDATA #IMPLIED
  height CDATA #IMPLIED
  hAlign (right|full|left|center) #IMPLIED
  vAlign (top|full|bottom|center) #IMPLIED
  id CDATA #IMPLIED
>
<!ELEMENT Style_placeTl EMPTY>
<!ATTLIST Style_placeTl
  row CDATA #IMPLIED
  col CDATA #IMPLIED
  width CDATA #IMPLIED
  height CDATA #IMPLIED
  hAlign (right|full|left|center) #IMPLIED
  vAlign (top|full|bottom|center) #IMPLIED
  id CDATA #IMPLIED
>
<!ELEMENT simpleInternalFrame ((toolbar?),((%Component;|Ref)?))>
<!ATTLIST simpleInternalFrame
  guiId CDATA #IMPLIED
  style CDATA #IMPLIED
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  id CDATA #IMPLIED
  toolbar CDATA #IMPLIED
  title CDATA #IMPLIED
  infoText CDATA #IMPLIED
  icon CDATA #IMPLIED
  selected (never|always|whenFocused) #IMPLIED
  actionCommand CDATA #IMPLIED
>
<!ELEMENT Style_simpleInternalFrame EMPTY>
<!ATTLIST Style_simpleInternalFrame
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  id CDATA #IMPLIED
  toolbar CDATA #IMPLIED
  title CDATA #IMPLIED
  infoText CDATA #IMPLIED
  icon CDATA #IMPLIED
  selected (never|always|whenFocused) #IMPLIED
  actionCommand CDATA #IMPLIED
>
<!ELEMENT splitPane ((%Component;|Ref),(%Component;|Ref))>
<!ATTLIST splitPane
  guiId CDATA #IMPLIED
  style CDATA #IMPLIED
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  orientation (horizontal|vertical) #IMPLIED
  dividerSize CDATA #IMPLIED
  location CDATA #IMPLIED
  resizeWeight CDATA #IMPLIED
  showDivider (true|false) #IMPLIED
>
<!ELEMENT Style_splitPane EMPTY>
<!ATTLIST Style_splitPane
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  orientation (horizontal|vertical) #IMPLIED
  dividerSize CDATA #IMPLIED
  location CDATA #IMPLIED
  resizeWeight CDATA #IMPLIED
  showDivider (true|false) #IMPLIED
>
<!ELEMENT matrix (((matrixCol|matrixRow)*),(matrixCell*))>
<!ATTLIST matrix
  guiId CDATA #IMPLIED
  style CDATA #IMPLIED
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  columns CDATA #IMPLIED
  rows CDATA #IMPLIED
  content CDATA #IMPLIED
  cellSelectionPair CDATA #IMPLIED
  headerBackground CDATA #IMPLIED
  visibleRows CDATA #IMPLIED
  headerLines CDATA #IMPLIED
  refresh CDATA #IMPLIED
  onSetValue CDATA #IMPLIED
  reorderingAllowed (true|false) #IMPLIED
  rowSelectionMode (multiple|singleInterval|single) #IMPLIED
  colSelectionMode (multiple|singleInterval|single) #IMPLIED
  rowSelectionAllowed (true|false) #IMPLIED
  useCache (true|false) #IMPLIED
  rowHeaders (true|false) #IMPLIED
  columnHeaders (true|false) #IMPLIED
  resizeMode (nextColumn|allColumns|lastColumn|subsequentColumns|off) #IMPLIED
  automaticRefresh (true|false) #IMPLIED
>
<!ELEMENT Style_matrix EMPTY>
<!ATTLIST Style_matrix
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  columns CDATA #IMPLIED
  rows CDATA #IMPLIED
  content CDATA #IMPLIED
  cellSelectionPair CDATA #IMPLIED
  headerBackground CDATA #IMPLIED
  visibleRows CDATA #IMPLIED
  headerLines CDATA #IMPLIED
  refresh CDATA #IMPLIED
  onSetValue CDATA #IMPLIED
  reorderingAllowed (true|false) #IMPLIED
  rowSelectionMode (multiple|singleInterval|single) #IMPLIED
  colSelectionMode (multiple|singleInterval|single) #IMPLIED
  rowSelectionAllowed (true|false) #IMPLIED
  useCache (true|false) #IMPLIED
  rowHeaders (true|false) #IMPLIED
  columnHeaders (true|false) #IMPLIED
  resizeMode (nextColumn|allColumns|lastColumn|subsequentColumns|off) #IMPLIED
  automaticRefresh (true|false) #IMPLIED
>
<!ELEMENT matrixCell EMPTY>
<!ATTLIST matrixCell
  style CDATA #IMPLIED
  rowType CDATA #REQUIRED
  columnType CDATA #REQUIRED
  value CDATA #REQUIRED
  tooltip CDATA #IMPLIED
  enabled CDATA #IMPLIED
  setValue CDATA #IMPLIED
  notifyTempValue CDATA #IMPLIED
  list CDATA #IMPLIED
  listType CDATA #IMPLIED
  listItem CDATA #IMPLIED
  listNullItem CDATA #IMPLIED
  listEditable CDATA #IMPLIED
  stringConvert CDATA #IMPLIED
  onCellClick CDATA #IMPLIED
  onCellDblClick CDATA #IMPLIED
  onCellSelect CDATA #IMPLIED
  foreground CDATA #IMPLIED
  background CDATA #IMPLIED
  evenBackground CDATA #IMPLIED
  font CDATA #IMPLIED
  alignment CDATA #IMPLIED
>
<!ELEMENT Style_matrixCell EMPTY>
<!ATTLIST Style_matrixCell
  rowType CDATA #IMPLIED
  columnType CDATA #IMPLIED
  value CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  enabled CDATA #IMPLIED
  setValue CDATA #IMPLIED
  notifyTempValue CDATA #IMPLIED
  list CDATA #IMPLIED
  listType CDATA #IMPLIED
  listItem CDATA #IMPLIED
  listNullItem CDATA #IMPLIED
  listEditable CDATA #IMPLIED
  stringConvert CDATA #IMPLIED
  onCellClick CDATA #IMPLIED
  onCellDblClick CDATA #IMPLIED
  onCellSelect CDATA #IMPLIED
  foreground CDATA #IMPLIED
  background CDATA #IMPLIED
  evenBackground CDATA #IMPLIED
  font CDATA #IMPLIED
  alignment (left|right|center) #IMPLIED
>
<!ELEMENT matrixCol EMPTY>
<!ATTLIST matrixCol
  style CDATA #IMPLIED
  columnType CDATA #REQUIRED
  columnName CDATA #REQUIRED
  weight CDATA #IMPLIED
  characters CDATA #IMPLIED
  foreground CDATA #IMPLIED
  background CDATA #IMPLIED
  evenBackground CDATA #IMPLIED
  font CDATA #IMPLIED
  alignment CDATA #IMPLIED
>
<!ELEMENT Style_matrixCol EMPTY>
<!ATTLIST Style_matrixCol
  columnType CDATA #IMPLIED
  columnName CDATA #IMPLIED
  weight CDATA #IMPLIED
  characters CDATA #IMPLIED
  foreground CDATA #IMPLIED
  background CDATA #IMPLIED
  evenBackground CDATA #IMPLIED
  font CDATA #IMPLIED
  alignment (left|right|center) #IMPLIED
>
<!ELEMENT matrixRow EMPTY>
<!ATTLIST matrixRow
  style CDATA #IMPLIED
  rowType CDATA #REQUIRED
  rowName CDATA #IMPLIED
  foreground CDATA #IMPLIED
  background CDATA #IMPLIED
  evenBackground CDATA #IMPLIED
  font CDATA #IMPLIED
  alignment CDATA #IMPLIED
>
<!ELEMENT Style_matrixRow EMPTY>
<!ATTLIST Style_matrixRow
  rowType CDATA #IMPLIED
  rowName CDATA #IMPLIED
  foreground CDATA #IMPLIED
  background CDATA #IMPLIED
  evenBackground CDATA #IMPLIED
  font CDATA #IMPLIED
  alignment (right|center|left) #IMPLIED
>
<!ELEMENT cardLayout (placeCl*)>
<!ATTLIST cardLayout
  guiId CDATA #IMPLIED
  style CDATA #IMPLIED
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  refresh CDATA #IMPLIED
  default CDATA #REQUIRED
>
<!ELEMENT Style_cardLayout EMPTY>
<!ATTLIST Style_cardLayout
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  refresh CDATA #IMPLIED
  default CDATA #IMPLIED
>
<!ELEMENT placeCl ((%Component;|Ref)?)>
<!ATTLIST placeCl
  style CDATA #IMPLIED
  id CDATA #IMPLIED
  condition CDATA #REQUIRED
>
<!ELEMENT Style_placeCl EMPTY>
<!ATTLIST Style_placeCl
  id CDATA #IMPLIED
  condition CDATA #IMPLIED
>
<!ELEMENT label EMPTY>
<!ATTLIST label
  guiId CDATA #IMPLIED
  style CDATA #IMPLIED
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  text CDATA #REQUIRED
  hAlignment (right|left|leading|center|trailing) #IMPLIED
  vAlignment (top|bottom|center) #IMPLIED
  vTextPosition (top|bottom|center) #IMPLIED
  hTextPosition (right|left|leading|center|trailing) #IMPLIED
  mnemonic CDATA #IMPLIED
  labelFor CDATA #IMPLIED
  icon CDATA #IMPLIED
  suffix CDATA #IMPLIED
>
<!ELEMENT Style_label EMPTY>
<!ATTLIST Style_label
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  text CDATA #IMPLIED
  hAlignment (right|left|leading|center|trailing) #IMPLIED
  vAlignment (top|bottom|center) #IMPLIED
  vTextPosition (top|bottom|center) #IMPLIED
  hTextPosition (right|left|leading|center|trailing) #IMPLIED
  mnemonic CDATA #IMPLIED
  labelFor CDATA #IMPLIED
  icon CDATA #IMPLIED
  suffix CDATA #IMPLIED
>
<!ELEMENT calendarButton EMPTY>
<!ATTLIST calendarButton
  guiId CDATA #IMPLIED
  style CDATA #IMPLIED
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  text CDATA #IMPLIED
  actionCommand CDATA #IMPLIED
  group CDATA #IMPLIED
  mnemonic CDATA #IMPLIED
  vTextPosition (top|bottom|center) #IMPLIED
  hTextPosition (right|left|leading|center|trailing) #IMPLIED
  icon CDATA #IMPLIED
  iconTextGap CDATA #IMPLIED
  selected CDATA #IMPLIED
  editId CDATA #REQUIRED
>
<!ELEMENT Style_calendarButton EMPTY>
<!ATTLIST Style_calendarButton
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  text CDATA #IMPLIED
  actionCommand CDATA #IMPLIED
  group CDATA #IMPLIED
  mnemonic CDATA #IMPLIED
  vTextPosition (top|bottom|center) #IMPLIED
  hTextPosition (right|left|leading|center|trailing) #IMPLIED
  icon CDATA #IMPLIED
  iconTextGap CDATA #IMPLIED
  selected CDATA #IMPLIED
  editId CDATA #IMPLIED
>
<!ELEMENT cellTable (((column|row)*),(cell*))>
<!ATTLIST cellTable
  guiId CDATA #IMPLIED
  style CDATA #IMPLIED
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  cols CDATA #REQUIRED
  rows CDATA #REQUIRED
  visibleRows CDATA #IMPLIED
  refresh CDATA #IMPLIED
  onSetValue CDATA #IMPLIED
  reorderingAllowed (true|false) #IMPLIED
  rowSelectionMode (multiple|singleInterval|single) #IMPLIED
  colSelectionMode (multiple|singleInterval|single) #IMPLIED
  rowSelectionAllowed (true|false) #IMPLIED
  rowHeaders (true|false) #IMPLIED
  columnHeaders (true|false) #IMPLIED
  automaticRefresh (true|false) #IMPLIED
  headerBackground CDATA #IMPLIED
>
<!ELEMENT Style_cellTable EMPTY>
<!ATTLIST Style_cellTable
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  cols CDATA #IMPLIED
  rows CDATA #IMPLIED
  visibleRows CDATA #IMPLIED
  refresh CDATA #IMPLIED
  onSetValue CDATA #IMPLIED
  reorderingAllowed (true|false) #IMPLIED
  rowSelectionMode (multiple|singleInterval|single) #IMPLIED
  colSelectionMode (multiple|singleInterval|single) #IMPLIED
  rowSelectionAllowed (true|false) #IMPLIED
  rowHeaders (true|false) #IMPLIED
  columnHeaders (true|false) #IMPLIED
  automaticRefresh (true|false) #IMPLIED
  headerBackground CDATA #IMPLIED
>
<!ELEMENT cell EMPTY>
<!ATTLIST cell
  style CDATA #IMPLIED
  col CDATA #REQUIRED
  row CDATA #REQUIRED
  value CDATA #REQUIRED
  enabled CDATA #IMPLIED
  setValue CDATA #IMPLIED
  list CDATA #IMPLIED
  listType CDATA #IMPLIED
  listItem CDATA #IMPLIED
  listNullItem CDATA #IMPLIED
  listEditable CDATA #IMPLIED
  stringConvert CDATA #IMPLIED
  foreground CDATA #IMPLIED
  background CDATA #IMPLIED
  font CDATA #IMPLIED
  alignment CDATA #IMPLIED
>
<!ELEMENT Style_cell EMPTY>
<!ATTLIST Style_cell
  col CDATA #IMPLIED
  row CDATA #IMPLIED
  value CDATA #IMPLIED
  enabled CDATA #IMPLIED
  setValue CDATA #IMPLIED
  list CDATA #IMPLIED
  listType CDATA #IMPLIED
  listItem CDATA #IMPLIED
  listNullItem CDATA #IMPLIED
  listEditable CDATA #IMPLIED
  stringConvert CDATA #IMPLIED
  foreground CDATA #IMPLIED
  background CDATA #IMPLIED
  font CDATA #IMPLIED
  alignment (trailing|center|leading|right|left) #IMPLIED
>
<!ELEMENT column EMPTY>
<!ATTLIST column
  style CDATA #IMPLIED
  col CDATA #REQUIRED
  name CDATA #IMPLIED
  colValue CDATA #IMPLIED
  weight CDATA #IMPLIED
  enabled CDATA #IMPLIED
  foreground CDATA #IMPLIED
  background CDATA #IMPLIED
  font CDATA #IMPLIED
  alignment CDATA #IMPLIED
>
<!ELEMENT Style_column EMPTY>
<!ATTLIST Style_column
  col CDATA #IMPLIED
  name CDATA #IMPLIED
  colValue CDATA #IMPLIED
  weight CDATA #IMPLIED
  enabled CDATA #IMPLIED
  foreground CDATA #IMPLIED
  background CDATA #IMPLIED
  font CDATA #IMPLIED
  alignment (leading|left|right|center|trailing) #IMPLIED
>
<!ELEMENT row EMPTY>
<!ATTLIST row
  style CDATA #IMPLIED
  row CDATA #REQUIRED
  rowValue CDATA #IMPLIED
  name CDATA #IMPLIED
  indentation CDATA #IMPLIED
  foreground CDATA #IMPLIED
  background CDATA #IMPLIED
  font CDATA #IMPLIED
  alignment CDATA #IMPLIED
>
<!ELEMENT Style_row EMPTY>
<!ATTLIST Style_row
  row CDATA #IMPLIED
  rowValue CDATA #IMPLIED
  name CDATA #IMPLIED
  indentation CDATA #IMPLIED
  foreground CDATA #IMPLIED
  background CDATA #IMPLIED
  font CDATA #IMPLIED
  alignment (left|leading|trailing|center|right) #IMPLIED
>
<!ELEMENT textArea EMPTY>
<!ATTLIST textArea
  guiId CDATA #IMPLIED
  style CDATA #IMPLIED
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  text CDATA #IMPLIED
  setText CDATA #IMPLIED
  focusLost CDATA #IMPLIED
  visibleRows CDATA #IMPLIED
  editable CDATA #IMPLIED
  width CDATA #IMPLIED
  maxLength CDATA #IMPLIED
  lineWrap (true|false) #IMPLIED
  wrapStyleWord (true|false) #IMPLIED
>
<!ELEMENT Style_textArea EMPTY>
<!ATTLIST Style_textArea
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  text CDATA #IMPLIED
  setText CDATA #IMPLIED
  focusLost CDATA #IMPLIED
  visibleRows CDATA #IMPLIED
  editable CDATA #IMPLIED
  width CDATA #IMPLIED
  maxLength CDATA #IMPLIED
  lineWrap (true|false) #IMPLIED
  wrapStyleWord (true|false) #IMPLIED
>
<!ELEMENT popupMenu ((Ref|popupMenuItem|treePopupMenuItem|separator)*)>
<!ATTLIST popupMenu
  guiId CDATA #IMPLIED
  style CDATA #IMPLIED
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
>
<!ELEMENT Style_popupMenu EMPTY>
<!ATTLIST Style_popupMenu
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
>
<!ELEMENT flowLayout ((%Component;|Ref)*)>
<!ATTLIST flowLayout
  guiId CDATA #IMPLIED
  style CDATA #IMPLIED
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  alignment (right|left|leading|center|trailing) #IMPLIED
  hSpacing CDATA #IMPLIED
  vSpacing CDATA #IMPLIED
>
<!ELEMENT Style_flowLayout EMPTY>
<!ATTLIST Style_flowLayout
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  alignment (right|left|leading|center|trailing) #IMPLIED
  hSpacing CDATA #IMPLIED
  vSpacing CDATA #IMPLIED
>
<!ELEMENT panel ((%Component;|Ref)?)>
<!ATTLIST panel
  guiId CDATA #IMPLIED
  style CDATA #IMPLIED
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  id CDATA #IMPLIED
  image CDATA #IMPLIED
  imageMode (tile|single|scale) #IMPLIED
>
<!ELEMENT Style_panel EMPTY>
<!ATTLIST Style_panel
  background CDATA #IMPLIED
  cursor CDATA #IMPLIED
  enabled CDATA #IMPLIED
  visible CDATA #IMPLIED
  focusable CDATA #IMPLIED
  font CDATA #IMPLIED
  foreground CDATA #IMPLIED
  onClick CDATA #IMPLIED
  apply CDATA #IMPLIED
  onInit CDATA #IMPLIED
  popup CDATA #IMPLIED
  context CDATA #IMPLIED
  border CDATA #IMPLIED
  tooltip CDATA #IMPLIED
  opaque CDATA #IMPLIED
  grabFocus CDATA #IMPLIED
  focusKeysForward CDATA #IMPLIED
  focusKeysBackward CDATA #IMPLIED
  handleReadOnly (true|false) #IMPLIED
  keyMapId CDATA #IMPLIED
  id CDATA #IMPLIED
  image CDATA #IMPLIED
  imageMode (tile|single|scale) #IMPLIED
>
